certifi==2020.4.5.1
colour==0.1.5
manimlib==0.1.11
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.0
olefile==0.46
opencv-python==4.3.0.36
Pillow==7.2.0
progressbar==2.5
pycairo==1.18.0
pydub==0.23.0
Pygments==2.6.1
pyreadline==2.1
scipy==1.1.0
TBB==0.1
tqdm==4.24.0
wincertstore==0.2
